// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";


// Globals
big { text-transform: uppercase; font-size: 1.7em; line-height: 2em; }


// Headings
h4 { padding: 6px 8px; background: rgba($highlightColor, 0.3); font-size: 1.25em; color: $black;}
p + h4 { margin-top: 42px; }
h4:first-child { margin-top: 0; }


// Forms
form .required { color: $secondaryColor; }
body.public .page-content input[type=text],
body.public .page-content input[type=email],
body.public .page-content input[type=tel],
body.public .page-content input[type=password],
body.public .page-content textarea { margin: 8px 0 16px; padding: 6px 8px; background-color: rgb(255,255,255); @include filter-gradient(#ffffff, #f6f6f6, vertical); @include background-image(linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%)); @include box-shadow( rgba(0, 0, 0, 0.4) 0 1px 4px, rgba(255, 255, 255, 1) 0 1px 0 inset ); border: 1px solid $white; }

form.custom div.custom.dropdown,
table input[type="text"], table input[type="password"], table input[type="date"], table input[type="datetime"], table input[type="email"], table input[type="number"], table input[type="search"], table input[type="tel"], table input[type="time"], table input[type="url"], table textarea { margin-bottom: 0; line-height: inherit; }


// Tables
tr td:first-child label strong { line-height: 2.1em; }
table:not(.activity-table) tr td:first-child { text-align: right; }
table:not(.activity-table) tr td:first-child strong { display: inline-block; margin-right: 10px; }
//body.private table { margin-top: 17px; }
body.private table th,
body.private table td,
body.private table td label { font-size: 12px; }
th[data-sort]{ cursor: pointer; }
th .arrow { float: right; font-weight: bold; color: maroon; font-size: 1.3em; margin-top: -3px; }
th[class*='sorting-'] { background-color: #ddd; }


// Lists


// Accordion overrides
ul.accordion,
ul.accordion > li,
ul.accordion > li.active,
ul.accordion > li .content,
ul.accordion > li.active .content,
ul.accordion > li > div.title { padding: 0 !important; border: 0 !important; }
ul.accordion > li > div.title { padding: inherit; background: rgba($highlightColor, 0.3); }
ul.accordion > li > div.title::after, 
ul.accordion > li.active .title::after { top: 10px; }

// Internal
body.internal { background: $white url(../images/internal-bg.png) 0 0 repeat-x; }


// Content
.page-title { margin: 14px 18px 28px; padding: 20px; background: $secondaryColor url(../images/page-title-bg.jpg) right top no-repeat; font-size: 2.15em; color: $white; }
.sub-title { margin: 14px 20px 28px; padding-bottom: 18px; border-bottom: 1px dotted rgba(0, 0, 0, 0.2); font-size: 1.25em; }

.page-content { background: url(../images/page-content-bg.png) center top no-repeat; padding-bottom: 60px; }
.page-content article { padding: 0 20px; }
.page-content strong { color: $black; }
.page-content a { color: $secondaryColor; font-weight: bold; }

body.private.internal .page-content article {  }
body.private.internal .sub-title { margin-bottom: 0; }


// Ads
h4 + .ad { position: relative; margin-top: -14px; }
.ad-title { font-size: 2.5em; line-height: 1.2em; font-weight: bold; }
.ad .reverse { color: $white; }


// Click Share
.click-share { width: 75px; background: $white; z-index: 50; }
.addthis_toolbox { height: 218px; padding: 10px; border-top: 1px solid #b1b1b1; border-bottom: 1px solid #b1b1b1; }


// Top bar overrides
.top-bar { background-color: transparent; }


// Button styles
.button.glass { background-color: rgb(255,255,255); @include filter-gradient(#ffffff, #f6f6f6, vertical); @include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%)); @include box-shadow( rgba(106, 159, 189, 0.7) 0 0 5px inset, rgba(0, 0, 0, 0.5) 0 2px 5px); border-width: 0; color: $txtColor; @include text-shadow(0px 1px 0px $white); }
.button.glass:hover { @include box-shadow( rgba(255, 255, 255, 1) 0 0 5px inset, rgba(0, 0, 0, 0.7) 0 2px 5px); color: $black; }
.small.button.yellow { font-size: 1.1em; background: rgba($highlightColor, 0.3); border: 0; color: $highlightColor; }


// Panel overrides
.panel { background-color: rgba($highlightColor, 0.3); color: $mainColor; }


// Alert Box overrides
.alert-box.info { padding: 10px 15px 0; background: $secondaryColor; color: $white; @include text-shadow(none); @include border-radius(0); }


// Orbit overrides
ul.orbit-bullets li { width: 15px; height: 15px; margin-left: 10px; background-image: none; background-color: $highlightColor; @include border-radius(50%); border: 1px solid #ba9d40; opacity: 0.3; }
ul.orbit-bullets li.active { opacity: 1; }


// Reveal overrides
.reveal-modal { border-top: 10px solid $highlightColor; }


// Tooltip overrides
.tooltip { background: $secondaryColor; color: $white; }
.tooltip.tip-right > .nub { border-right-color: $secondaryColor; }
.tooltip.tip-left > .nub { border-left-color: $secondaryColor;}


// Widgets
aside .widget { margin-bottom: 30px; }
.widget a { font-weight: bold; color: $secondaryColor; }
.widget p { font-size: .9em; line-height: 1.3em; font-style: normal; }
.widget h4 { padding: 0 0 14px; border-bottom: 1px dotted rgba(0, 0, 0, 0.2); background: transparent; font-size: 1.3em; }

.widget div.orbit-wrapper div.slider-nav {}
.widget div.orbit-wrapper div.slider-nav span { width: 7px; height: 11px; background: transparent url(../images/orbit-nav-sprite.png) -30px -395px no-repeat; top: -20px; }
.widget div.orbit-wrapper div.slider-nav span.left { left: auto; right: 20px; }
.widget div.orbit-wrapper div.slider-nav span.right { background-position: -32px -425px; }


// Helper Classes
.cf:after { content: ""; display: table; clear: both; }


// Header
header { padding-top: 14px; }
#brand { background-color: rgb(255,255,255); @include filter-gradient(#ffffff, #d1d1d1, vertical); @include background-image(linear-gradient(top, rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%)); }
.name { margin: 10px 0; }

#support-links { margin-bottom: 10px; }
#support-links li { margin-left: 15px; margin-top: 10px; font-size: .95em; }
#support-links a { font-weight: bold; color: $txtColor; font-size: .95em; }
#support-links i { color: $txtColor; font-size: 1em; }

.user-menu { display: inline-block; margin: 15px 15px 0 0; float: right; }
.user-menu ul { list-style: none; margin: 0; @include border-radius(5px); background: transparent url(../images/login-register-btn-bg.png) center center no-repeat; overflow: hidden; float: right; clear: right; @include box-shadow( rgba(0, 0, 0, 0.1) 0 -1px 2px, rgba(0, 0, 0, 0.2) 0 1px 5px, rgba(255, 255, 255, 0.8) 0 1px 0 inset,  rgba(0, 0, 0, 0.3) 0 1px 1px ); }
.user-menu li { float: left; text-align: center; }
.user-menu  li a { display: block; padding: 11px 18px; font-size: .9em; font-weight: bold; text-transform: uppercase; color: $white; @include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.5)); }
.user-menu i { display: block; font-size: 1.4em; line-height: 1.1em; font-style: normal; }
.user-menu .divider { height: 37px; width: 2px; background: #DDD; border-right: 1px solid white; margin: 1px 0; }
.user-menu .active { position: relative; color: $mainColor; @include text-shadow(0px 1px 0px rgba(255, 255, 255, 1)); }
.user-menu > strong { display: inline-block; margin-bottom: 10px; float: right; color: $mainColor; }
body.public .user-menu > strong { margin-right: 30px; }

#register-link a { padding-right: 26px; }
#login-link a { color: $txtColor; @include text-shadow(0px 1px 0px #fff); }

//#account-credits a { width: 110px; }
#account-credits ul { background-color: rgb(238,238,238); @include filter-gradient(#eeeeee, #cccccc, vertical); @include background-image(linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%)); }
#account-credits a { color: $mainColor; @include text-shadow(0px 1px 0px #fff); }
#account-credits strong a { color: $secondaryColor; }
#account-credits .divider { height: 40px; }


body.public #account-credits { display: none; }
body.private #login-register { display: none; }

// Primary Nav / Top Bar
.top-bar { background-color: rgb(46,38,33); @include filter-gradient(#2e2621, #110f0e, vertical); @include background-image(linear-gradient(top, rgba(46,38,33,1) 0%,rgba(79,73,68,1) 95%,rgba(17,15,14,1) 100%)); }
.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active { background-color: $white; }
.top-bar ul > li:not(.name):hover a, .top-bar ul > li:not(.name).active a { color: $black; }
.top-bar ul > li a:not(.button) { padding: 0 34.33333px; }
.top-bar ul > li a.active { color: $black; background-color: $white; }
.top-bar ul > li.toggle-topbar:hover { background-color: transparent; }

// Footer
#colophon { padding: 30px 0; background-color: rgb(78,71,66); @include filter-gradient(#4e4742, #2f2721, vertical); @include background-image(linear-gradient(top, rgba(78,71,66,1) 0%, rgba(61,54,48,1) 25%, rgba(47,39,33,1) 100%)); }
#colophon h5 { font-size: 1em; color: $highlightColor; }
#colophon .nav-bar,
#colophon nav li:hover { background: none; }
#colophon nav li { border: 0; line-height: 2.6em; }
#colophon nav a { padding: 0; font-size: .9em; color: $white; }
#colophon nav a:hover { color: $highlightColor; }
#colophon label { color: $white; }
#colophon input[type=text] { background: rgba(255, 255, 255, 0.1); border: 1px solid rgba(255, 255, 255, 0.2); color: $white; }

#footer-nav li { border-bottom: 1px dotted rgba(255, 255, 255, 0.5) !important; line-height: 2.1em !important; }

#download-cta .panel.callout { background-color: $secondaryColor; }
#download-cta h5 { margin: -20px -20px 15px -20px; padding: 10px 15px; border-bottom: 1px solid #802822; background: #93342c; }
#download-cta p { font-size: .85em; line-height: 1.4em; }
#download-cta .panel.callout .button,
#download-cta .panel.callout .button:hover { background-color: rgb(255,255,255); @include filter-gradient(#ffffff, #f6f6f6, vertical); @include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%)); }

#social-nav i { font-size: 2.4em; line-height: .3em; color: $txtColor; }
#social-nav a:hover i { color: $highlightColor; }

.device-iOS,
.device-android,
.device-any { display: none; }

ul.inline-list > li.brands { margin-left: 5px; }


// Legal
#legal { background: #ccc; }
#legal ul { margin-bottom: 0; }
#legal li { font-size: .8em; line-height: 4em; }
#legal li:last-child { float: right; }
#legal li.hide-for-medium-down { margin-right: -15px; }
#legal a { color: $secondaryColor; font-weight: bold; }
#legal .divider { width: 1px; background: #aaa; height: 12px; margin: 16px -15px 0 10px; }


// Home
body#home { background: $white url(../images/home-bg.png) 0 0 repeat-x; }

#hero { background: $white; @include box-shadow( rgba(0, 0, 0, 0.3) 0 5px 6px); }
// #hero a { margin: 15px; }
#hero a img { display: block; max-width: 97%; margin: 1.5% auto; }
#hero-wrapper { padding-bottom: 30px; }
#hero-wrapper div.orbit-wrapper div.slider-nav span { width: 50px; height: 50px; background: transparent url(../images/orbit-nav-sprite.png) no-repeat; }
#hero-wrapper div.orbit-wrapper div.slider-nav span.left { left: -25px; background-position: -10px -10px; }
#hero-wrapper div.orbit-wrapper div.slider-nav span.right { right: -25px; background-position: -10px -80px; }
#hero-wrapper div.orbit-wrapper div.slider-nav span.left:hover { background-position: -10px -150px; }
#hero-wrapper div.orbit-wrapper div.slider-nav span.right:hover { background-position: -10px -220px; }
#hero-wrapper ul.orbit-bullets { bottom: 0; }
#hero-wrapper div.orbit-wrapper div.timer { width: 16px; height: 16px; top: auto; bottom: 16px; right: 43.5%; opacity: 1; }
#hero-wrapper div.orbit-wrapper span.mask { display: none; }
#hero-wrapper div.orbit-wrapper span.pause { width: 16px; height: 16px; opacity: 1; background: transparent url(../images/orbit-nav-sprite.png) -27px -287px no-repeat; }
#hero-wrapper div.orbit-wrapper span.pause:hover { background-position: -27px -337px; }
#hero-wrapper div.orbit-wrapper span.pause.active { background-position: -27px -311px; }
#hero-wrapper div.orbit-wrapper span.pause.active:hover { background-position: -27px -361px; }

#hero.orbit.with-bullets { margin-bottom: 0; }

#testimonials blockquote { padding: 0; border-left: 0; font-family: serif; font-size: 1em; font-style: italic; font-weight: bold; color: $black; }
#testimonials cite { font-size: .8em; color: $txtColor; }

#customers-partners { margin-top: 30px; padding: 20px 0;border-top: 2px solid #ddd; background: #e6e6e4; }


// Begin Launches
.single-product {  }
.single-product footer { background: #7e746f; }
.single-product p { margin-bottom: 0; }
.single-product hr { margin: 10px 0; }
.single-product big,
.single-product small { display: block; padding: 12px 18px; font-size: 1.2em; line-height: 1.4em; color: $white; }
.single-product small { font-size: .85em; }
.single-product strong { line-height: 2em; }
.single-product footer span { display: inline-block; padding: 0 10px; font-size: .8em; font-weight: bold; color: $white; }
.single-product label { font-weight: bold; color: $mainColor; }
.single-product input[type=submit] { margin-top: 30px; }

.product-sku { margin-bottom: 0; }
.product-sku:before { content: 'SKU: '; }

.product-title { margin: 0; padding: 8px; background: $mainColor; font-size: 1em; color: #f3ecd0; }
.product-title:before { content: 'Product: '; color: $white; }

.product-price { font-weight: bold; color: $secondaryColor; font-size: 1em; }
.product-price:before { content: 'Price: '; color: $mainColor; }

.product-sample-report { text-align: right; }
.product-content { border: 8px solid #eee; padding: 10px 15px; }

.product-select { background: $highlightColor; padding: 6px 8px; }


// FAQ
.qa { margin-bottom: 30px; }
.question { color: $secondaryColor; font-weight: bold; }
.question:before { content: 'Q: '; font-weight: normal; color: $black; }
.answer:before { content: 'A: '; color: $black; }


// Services
body#services .ad { background-color: $secondaryColor; }
body#services .ad-cta { width: 34%; padding: 40px 70px 0 0; float: right; font-size: 1.55em; line-height: 1.3em; text-align: center; color: $secondaryColor; }
body#services .ad-title { padding-top: 30px; font-size: 2.3em; font-style: italic; }
body#services .ad-content { line-height: 1.4em; }


// Contact Us
body#contact-us .dropdown { margin-bottom: 16px; }


// My Account
body#account-information .accordion h4 { font-size: .9em; padding: 9px 10px; }

.menu-title strong { display: block; padding: 8px 12px; background: $highlightColor; color: $white; }
#account-menu dl { margin: 30px 0; border-left: 1px solid #ddd; }
#account-menu dd { border-right: 1px solid rgba(0, 0, 0, 0.3); border-left: 1px solid rgba(255, 255, 255, 0.3); border-top: 1px solid #ddd; }
#account-menu dd.active { border-top: 3px solid $secondaryColor; }
#account-menu a { position: relative; background: #eee; font-size: .825em; line-height: 3.5em; padding-left: 23px; color:  $txtColor; }
#account-menu a:after { left: 12px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(161, 64, 55, 0); border-left-color: #a14037; border-width: 5px; top: 50%; margin-top: -5px; }

#account-menu a:hover, 
#account-menu .active a { background-color: rgb(255,255,255); @include filter-gradient(#ffffff, #f6f6f6, vertical); @include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%)); color: $mainColor; @include text-shadow(0px 1px 0px $white); }

#account-menu .tabs dd a { border-left: 1px solid transparent; border-right: 1px solid transparent; }

#account-content { padding: 20px 0; border: 1px solid #ddd; border-top: 0; }

.activity-table { width: 100%; }
.activity-table th { position: relative; color: $secondaryColor; }
.activity-table th:after { position: absolute; top: 25%; right: 7px; display: block; width: 10px; height: 15px; content: '\2b0c'; font-size: 18px; color: #ccc; font-family: 'fontello'; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-align: center; }
.activity-table th.sorting-desc:after,
.activity-table th.sorting-asc:after { content: '\2193'; color: $secondaryColor; font-family: 'fontello'; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-align: center; }
.activity-table th.sorting-asc:after { content: '\2191'; }
th .arrow { display: none !important; }

#history-table th { position: relative; width: 12.25%; color: #9e2f22; }
#billing-table th { position: relative; width: 25%; color: #9e2f22; }

#account-info-form td:first-child,
#subscription-form td:first-child { width: 30%; }

#account-info-form td:first-child,
#subscription-form td:last-child { width: 70%; }

.score.lower { background-color: rgba($secondaryColor, 0.2); }
.score.middle { background-color: rgba($highlightColor, 0.2); }
.score.upper { background-color: rgba(11, 153, 20, 0.2); }


// Account Information
.card-type { display: inline-block; width: 32px; height: 20px; text-indent: -999em; background: url(../images/visa-logo.png) no-repeat; }
.card-type.visa { background-position: 0 0; }

h4 + table { margin-top: -14px; @include border-radius(0 0 3px 3px); }


// My Credits
.credit-balance { float: right; font-size: .9em; }
.credit-balance span { color: $secondaryColor; }

.block a { margin: 3px 6px 9px; padding: 10px 0; @include border-radius(10px); border: 3px solid #eee; text-align: center; }
.block * { display: block; clear: both; width: auto; margin: 0 auto; line-height: 1.1em; }
.block .credit-qty { font-size: 2.2em; font-weight: bold; }
.block big { font-weight: normal; color: $txtColor; }
.block .button { max-width: 70px; margin: 10px auto 5px; }
.block a:hover { border-color: $highlightColor; }

#custom-credits { background: #eee; @include border-radius(5px); padding: 10px; }
#custom-credits .one.column { display: inline-block; padding: 0; width: 1.33333%; line-height: 2.1em; }
#custom-credits input { margin-bottom: 0; }

#promo-codes strong { line-height: 2.4em; }


// Launch History


// Products
.stagger { margin-bottom: 30px !important; padding-bottom: 30px !important; border-bottom: 1px dotted #ddd; }



/* Very large screens */
@media only screen and (min-width: 1441px) {

}

/* Medium screens */
@media only screen and (max-width: 1279px) and (min-width: 768px) {
  .top-bar ul > li.toggle-topbar a { height: 46px; width: 46px; border: 0; font-size: 3em; right: 20px; margin: 0; top: 0%; }
}

/* Medium screens */
@media only screen and (max-width: 960px) and (min-width: 768px) {
  .top-bar ul > li a.active { background-color: transparent; color: $white; }
  .top-bar ul > li.toggle-topbar a { height: 46px; width: 46px; border: 0; font-size: 3em; right: 20px; margin: 0; top: 0%; }
  #hero-wrapper div.orbit-wrapper div.slider-nav span.right,
  #hero-wrapper div.orbit-wrapper div.slider-nav span.left { display: none; }
}

/* Small screens */
@media only screen and (max-width: 767px) {
  .top-bar ul > li a:not(.button) { padding: 0 8px; font-size: 1.2em; }
  .top-bar ul > li a.active { background-color: transparent; color: $white; }
  .top-bar ul > li.toggle-topbar a { height: 36px; width: 36px; border: 0; font-size: 2.5em; right: 20px; margin: 0; top: 0%; }

  #hero-wrapper .timer, #hero-wrapper .mask, #hero-wrapper .slider-nav, #hero-wrapper .orbit-bullets,
  #hero-wrapper div.orbit-wrapper div.slider-nav span.right,
  #hero-wrapper div.orbit-wrapper div.slider-nav span.left { display: none; }
  #hero a { margin: 0; }
  
  body#services .ad-title,
  body#services .ad-content { padding: 20px; margin: 0; }
  body#services .ad-content { padding-top: 0; padding-bottom: 30px; }
}

/* Landscape Orientation */
@media screen and (orientation: landscape) {
  
}

/* Portrait Orientation */
@media screen and (orientation: portrait) {
  
}

/* Touch Detection */
.touch .your-class {
  
}