// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

// Foundation Overrides
.top-bar { background-color: transparent; }

// Globals

// Header
.name { margin: 17px 0 16px; }

#login-register { margin-top: 30px; }
#login-register a { @include box-shadow( rgba(0, 0, 0, 0.4) 0 0 7px inset ); border: 0; padding: 7px 21px; font-size: .9em; font-weight: 400; text-transform: uppercase; }
#login-link a { background: #d0a82e; color: $white; }
#register-link a { background: #f7f7f7; color: $black; }

#account-credits a { display: block; font-size: 12px; text-transform: uppercase; text-align: center; color: $secondaryColor; }
#account-credits i { display: block; clear: both; color: $txtColor; }
#account-credits a:hover,
#account-credits i:hover { color: $mainColor; }
#account-credits .divider { width: 2px; background: #ccc; height: 12px; margin: 0; margin-left: 14px; margin-right: -8px; margin-top: 22px; }

// Primary Nav / Top Bar
.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active { background-color: $white; }
.top-bar ul > li:not(.name):hover a, .top-bar ul > li:not(.name).active a { color: $black; }
.top-bar ul > li a:not(.button) { padding: 0 34.33333px; }
.top-bar ul > li a.active { color: $black; background-color: $white; }

// Home
body#home { background: $white url(../images/home-bg.png) 0 0 repeat-x; }